# Virtual Environment
venv/
env/
.venv/

# Compiled Python files
*.pyc
__pycache__/

# Python egg and wheel
*.egg
*.egg-info/
dist/

# pipenv
Pipfile.lock
Pipfile.toml
.venv

# poetry
poetry.lock
poetry-debug.toml
__pypackages__/

